version: '3.8'

services:
  # Servicio para el backend de NestJS
  api:
    build: . # Le dice a Docker que construya la imagen usando el Dockerfile en la misma carpeta
    container_name: universitas_api
    restart: always
    ports:
      - '3000:3000' # Mapea el puerto 3000 del contenedor al puerto 3000 de tu máquina
    volumes:
      - .:/usr/src/app # Sincroniza tu código local con el del contenedor para desarrollo
      - /usr/src/app/node_modules # Evita que los node_modules locales sobrescriban los del contenedor
    environment:
      # Conecta a la base de datos del servicio 'db'
      DATABASE_URL: 'postgresql://admin:mysecretpassword@db:5432/acta_entrega_db?schema=public'
      JWT_SECRET: 'tu-super-secreto-de-desarrollo' # Puedes cambiarlo o usar un .env
      # ... otras variables de entorno que necesites ...
    depends_on:
      - db # Asegura que el servicio 'db' se inicie antes que el 'api'

  # Servicio para la base de datos PostgreSQL
  db:
    image: postgres:15
    container_name: universitas_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: acta_entrega_db
    ports:
      - '5433:5432'
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: